<div class="page-policy section container">
  <h1 class="section-title" style="text-align:center; margin-bottom:40px;">{{ policy.title }}</h1>
  <div class="page-content policy-content">
    {{ policy.content }}
  </div>
</div>
